<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Tus noticias
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="nnoticias > 0;else not_found">
    <ion-card *ngFor="let noticia of noticiasx;let i=index " (click)="dimeHola(noticia)">
      <preload-image [ratio]="{h:1,w:1}" [src]="noticia.urlToImage">
      </preload-image>
        <ion-card-header>
          <ion-card-title>{{noticia.title}}</ion-card-title>
        </ion-card-header>     
        <ion-card-content>
    <span *ngIf="noticia.author != null && noticia.author !='' ">  Autor: {{noticia.author}} <br></span>
          Fuente: {{noticia.source.name}}     
        </ion-card-content>
      </ion-card>
 </div>
    <ng-template #not_found>
      <ng-container *ngIf="nnoticias === 0">
        <img position ="fixed" top="200%" left="50%" transform = "translate(-50%,-50%)"
         src ="{{'assets/e.gif'}}">
        <p align="center">We didn't find anything :(</p>
      </ng-container>
    </ng-template>
</ion-content>
