<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
    Virtual Scroll
    Esto es para injectar directamente un observable
    <ion-card *ngFor="let noticia of noticias.article | pipe">         -->
    <ion-card *ngFor="let noticia of noticiasx">
        <ion-card-header>
          <ion-card-title>{{noticia.title}}</ion-card-title>
        </ion-card-header>     
        <ion-card-content>
          Idioma: Español <span *ngIf="noticia.author != null && noticia.author !='' ">| Autor: {{noticia.author}} </span>| 
          Fuente: {{noticia.source.name}} 
        </ion-card-content>
      </ion-card>
</ion-content>
