<ion-app>
  <ion-split-pane>
    <ion-menu (ionDidOpen)="menuOpened()" (ionDidClose)="menuClosed()">
      <ion-header>
        <ion-toolbar>
          <ion-title>Personaliza tus noticias</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-item>
              <ion-label>Pais</ion-label>
              <ion-select placeholder="Selecciona un pais">
                <ion-select-option value="us">Estados unidos</ion-select-option>
                <ion-select-option value="ar">Argentina</ion-select-option>
              </ion-select>
            </ion-item>  
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
