<ion-app>
  <ion-split-pane>
    <ion-menu (ionDidClose)="menuClosed()">
      <ion-header>
        <ion-toolbar>
          <ion-title>Personaliza tus noticias</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-item>
              <ion-label>Pais</ion-label>
              <ion-select placeholder="Selecciona un pais" (ionChange)="actualizaPais($event)">
                <ion-select-option value="us">Estados unidos</ion-select-option>
                <ion-select-option value="ar">Argentina</ion-select-option>
              </ion-select>
            </ion-item> 

            <ion-list>
              <ion-radio-group (ionSelect)="actualizaCategoria($event)">
                <ion-list-header>
                  <ion-label>Categoria</ion-label>
                </ion-list-header>
            
                <ion-item>
                  <ion-label>Deportes</ion-label>
                  <ion-radio slot="start" value="sports" ></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Economia</ion-label>
                  <ion-radio slot="start" value="economy" ></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Negocios</ion-label>
                  <ion-radio slot="start" value="business" ></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Entretenimiento</ion-label>
                  <ion-radio slot="start" value="entertainment" ></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>General</ion-label>
                  <ion-radio slot="start" value="general" checked></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Salud</ion-label>
                  <ion-radio slot="start" value="health" ></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Ciencia</ion-label>
                  <ion-radio slot="start" value="science" ></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Tecnología</ion-label>
                  <ion-radio slot="start" value="technology" ></ion-radio>
                </ion-item>

                </ion-radio-group>
                </ion-list>
                <ion-list>
                  <ion-item>
                    <ion-label color="primary">Buscador</ion-label>
                    <ion-input type="text" placeholder="Busca algo" [(ngModel)]="clave"></ion-input>
                  </ion-item>
                  </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
