<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="{{arrayNoticias[0].urlToImage}}"></ion-img>
      <ion-card-subtitle> {{arrayNoticias[0].source.name}}</ion-card-subtitle>
      <ion-card-title> {{arrayNoticias[0].title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <font size="3">
            {{arrayNoticias[0].description}}
        </font>    
        <div text-center>
        <ion-button href="{{arrayNoticias[0].url}}" color="light">{{"full-new" | translate}}</ion-button>
        </div>
</ion-card-content>
</ion-card>
</ion-content>
